* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: 'Inter', sans-serif;
  padding: 0px 40px 40px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

textarea, input { font-family: 'Inter', sans-serif; }

textarea{
  font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: end;
}

.button-large {
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
  border: 0px;
  width:100%;
  padding:8px;
  border-radius: 10px;
}

.button-large:hover:enabled{
  box-shadow: 0px 0px 5px cornflowerblue;
}

.button-large:disabled{
  background-color: grey;
}

.note-header{
  text-align: center;
}

.form-container {
  margin:auto;
  text-align: center;
  width:30%;
}

.form-input{
  width:100%;
  padding:8px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
}

.note-create__desc-info-limit{
  font-size:12px;
  text-align: end;
  margin-bottom: 4px;
}

.text{
  margin-top: 10px;
}